<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('bg.jpg') %>);">
  <div class="container">
    <h1>Bienvenue sur notre Hub d'Informations !</h1>
    <p>Explorez et contribuez à une plateforme où vous pouvez publier et discuter d'articles informatifs.</p>
    <%= render "shared/search" %>
    <div class="text-center mt-3">
      <%= link_to "Tous les articles", posts_path, class: 'btn btn-primary mb-3' %>
    </div>
  </div>
</div>


<h2>Notre sélection d’articles</h2>

<div class="main">
  <ul class="cards">
    <% @random_posts.each do |post| %>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <span class="note">Auteur: <%= post.user.nickname %></span>
            <% if post.post_photo.present? %>
              <%= cl_image_tag post.post_photo %>
            <% else %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Pas_d%27image_disponible.svg/1024px-Pas_d%27image_disponible.svg.png" alt="Pas d'image disponible">
            <% end %>
          </div>
          <div class="card_content">
            <h2 class="card_title"><%= post.title %></h2>
            <div class="card_text">
              <p><%= post.description %></p>
              <hr />
              <%= link_to 'Voir le post', post_path(post), class: "btn post-btn" %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
