<div class="container profile">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-section-info p-3">
        <h2>Informations de profil</h2>
        <p>Nom : <%= current_user.nickname.capitalize %></p>
        <p>Email : <%= current_user.email %></p>

        <h2>Mes Commentaires</h2>
        <% if current_user.comments.any? %>
          <% current_user.comments.each do |comment| %>
            <p><%= comment.content %>       <%= link_to post_path(comment.post), class: 'link-with-pointer' do %>
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                  <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                </svg>
              <% end %>
            </p>
          <% end %>
        <% else %>
          <p>Vous n'avez encore commenté sur rien.</p>
        <% end %>
      </div>
    </div>

    <div class="col-md-6 align-items-center">
      <div class="card pic-card">
        <div class="square-image mx-auto">
          <% if current_user.user_photo.present?  %>
              <%= image_tag current_user.user_photo, class: "img-fluid" %>
          <% else  %>
              <%= image_tag "https://www.handiclubnimois.fr/wp-content/uploads/2020/10/blank-profile-picture-973460_1280.png", class: "img-fluid"  %>
          <% end %>
        </div>
        <p class="p-3"><strong>Description : </strong><%= current_user.description %></p>
      </div>
    </div>
  </div>
</div>
<div class="container text-center mt-3">
  <h2>Vos articles</h2>
</div>
<%= render "shared/post" %>
