<div class="container profile">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-section-info p-3">
        <h2>Informations sur l'auteur</h2>
        <p>Nom : <%= @user.nickname.capitalize %></p>
        <p>Email : <%= @user.email %></p>
        <p>Nombre de publications : <%= @user.posts.size %></p>
        <p>Nombre de commentaires : <%= @user.comments.size %></p>
      </div>
    </div>

    <div class="col-md-6 align-items-center">
      <div class="card pic-card">
        <div class="square-image mx-auto">
          <% if @user.user_photo.present?  %>
              <%= image_tag @user.user_photo, class: "img-fluid" %>
          <% else  %>
              <%= image_tag "https://www.handiclubnimois.fr/wp-content/uploads/2020/10/blank-profile-picture-973460_1280.png", class: "img-fluid"  %>
          <% end %>
        </div>
        <p class="p-3"><strong>Description : </strong><%= @user.description %></p>
      </div>
    </div>
  </div>
</div>
<div class="container text-center mt-3">
  <h2>Articles de l'auteur</h2>
</div>
<%= render "shared/post" %>
