<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2" data-controller="down-page-show">
      <%= link_to "Tous les articles", posts_path, class: 'btn btn-primary mb-3' %>

      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="card-body">
              <h3 class="card-title"><%= @post.title.capitalize %></h3>
              <p class="card-title"><strong>Auteur : </strong><%= @post.user.nickname.capitalize %></p>
              <p class="card-title"><strong>Description : </strong><%= @post.description %></p>
              <%= link_to "Voir l'auteur", profile_path(user_id: @post.user.id), class: 'btn btn-primary author-btn' %>
              <%= link_to "Voir l'URL de la source", @post.url, class: 'btn btn-primary url-btn', target: '_blank' %>
            </div>
          </div>

          <div class="col-md-6">
            <% if @post.post_photo.present? %>
              <%= cl_image_tag @post.post_photo, height: 300, width: 400, crop: :fill, class: "card-img" %>
            <% else %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Pas_d%27image_disponible.svg/1024px-Pas_d%27image_disponible.svg.png" alt="Pas d'image disponible" class="card-img">
            <% end %>
          </div>
        </div>
        <p class="card-content"><%= @post.content %></p>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Commentaires</h5>
        <% if @comments.present? %>
          <% @comments.each do |comment| %>
            <p class="card-text"><strong><%= comment.user.nickname.capitalize %>:</strong> <%= comment.content %></p>
          <% end %>
        <% else %>
          <p>No comments available.</p>
        <% end %>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Ajouter un commentaire</h5>

          <input type="checkbox" id="comment-form-toggle" class="hidden-checkbox">


            <%= simple_form_for Comment.new, url: create_comment_post_path(@post), method: :post, html: { class: 'comment-form' } do |f| %>
              <%= f.input :content, as: :text, input_html: { class: "form-control", rows: 3 }, placeholder: "Votre commentaire" %>
              <%= f.button :submit, "Ajouter", class: "btn btn-primary " %>
            <% end %>


          <label for="comment-form-toggle" class="btn btn-primary sumbit-form" data-action="click->down-page-show#scrollDown">Ajouter un commentaire</label>
        </div>
      </div>

    </div>
  </div>
</div>
