<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= link_to "Retour sur la page d'accueil", root_path, class: 'btn btn-secondary mb-3' %>

      <div class="card">
        <div class="card-body">
          <%= cl_image_tag @post.photo.key, height: 300, width: 400, crop: :fill %>
          <h5 class="card-title"><%= @post.title %></h5>
          <p class="card-title"><%= @post.description %></p>
          <p class="card-text"><%= @post.content %></p>
          <%= link_to 'View Profile', profile_path(user_id: @post.user.id), class: 'btn btn-secondary' %>
          <p class="card-text">Created at: <%= @post.created_at %></p>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">commentaires</h5>
          <% @comments.each do |comment| %>
            <p class="card-text"><strong><%= comment.user.nickname %>:</strong> <%= comment.content %></p>
          <% end %>
        </div>
      </div>


      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Ajouter un commentaire</h5>

          <input type="checkbox" id="comment-form-toggle" class="hidden-checkbox">

          <form class="comment-form" action="<%= create_comment_post_path(@post) %>" method="post">

            <textarea name="comment[content]" placeholder="Your comment"></textarea>
            <%= submit_tag "ajouter", class: "btn btn-secondary" %>
          </form>

          <label for="comment-form-toggle" class="btn btn-secondary">Ajouter un commentaire</label>
        </div>
      </div>
    </div>
  </div>
</div>
